body {
	font-family: Arial, "Calibri", "Times New Roman";
}

h2 {
	font-size: 24pt;
}

h3 {
	font-size: 16pt;
	margin: 0 0 10px 0;
	text-decoration: underline;
}

table {
	border-spacing:0;
}

td, tr, table {
	padding:0 0 0 0;
	margin:0 0 0 0;
}

.empty {
	background-color:#D0D0D0;
}
.line {
	background-color:#264581;
}

.content {
	padding-left:50px;
}

#gameBoard {
	float: left;
}

table {
	border: 1px solid black;
}

td {
	height: 25px;
	width: 25px;
}

.sidePanel {
	float: left;
	margin-left: 20px;
}

#score div span {
	display: block;
	float: left;
	margin: 7px 5px 10px 5px;
	width: 50px;
}

#score div .score {
	background: #F0F0F0;
	display: block;
	float: left;
	margin: 5px 5px 10px 5px;
	padding: 5px 0px 5px 5px;
	width: 70px;
}

#preview {
	clear: left;
	padding-top: 10px;
}

#controls {
	clear: both;
	padding: 10px 0 0 0;
}

#gameOver {
	background-color:#E0E0E0;
	border: solid 2px #AAA;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 2em;
	padding: 0px 5px;
	position: absolute;
	left:100px;
	top:290px;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}